[Unit]
Description=My super awesome application

[Service]
ExecStart=/bin/sh -c "VERSION=1.1 /root/confidence/app/app"

[Install]
WantedBy=multi-user.target
